<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>LatencyLens</string>

    <key>CFBundleIdentifier</key>
    <string>com.yourname.latencylens</string>

    <key>NSCameraUsageDescription</key>
    <string>This app needs access to the camera for face detection.</string>

    <key>NSCameraUseContinuityCameraDeviceType</key>
    <true/>
</dict>
</plist>